html {
  height: auto !important;
}
body {
  margin: auto;
  background: linear-gradient(45deg, #1b4dc9, #d7d031, #1983a5);
/* animation: hueRotate 10s infinite alternate; */
  height: -webkit-fill-available !important;
}
.container {
  max-width: 840px;
  margin: 0 auto;
/* color: aliceblue!important; */
/* text-align: -webkit-right; */
}
.container h2 {
  color: #f0f8ff;
}
.container p {
  color: #f0f8ff;
}
.header .menu .menu-item-link {
  color: #f0f8ff !important;
}
.header .menu .active {
  color: #000 !important;
}
@-moz-keyframes hueRotate {
  100% {
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes hueRotate {
  100% {
    filter: hue-rotate(360deg);
  }
}
@-o-keyframes hueRotate {
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes hueRotate {
  100% {
    filter: hue-rotate(360deg);
  }
}
