.album {
  padding: 0 20px;
  margin-bottom: 1.5em;
  height: 100%;

  .article-title {
    padding-bottom: 10px;
  }

  .photo {
    float: left;
    margin: 4px;
  }

  img {
    height: 200px;
  }

  span {
    margin-left: 1em;
	color: #aaa;
	font-size: 85%;
  }

  figure {
	height: 200px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
    }
    figure:hover+span {
	bottom: -36px;
	opacity: 1;
    }
}

.hover figure img {
	-webkit-filter: blur(3px);
	filter: blur(2px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover figure:hover img {
    -webkit-filter: blur(0);
	filter: blur(0);
}



.album span {
	z-index: -1;
	display: block;
	margin: 0;
	padding: 0;
	color: #444;
	font-size: 18px;
	text-decoration: none;
	text-align: center;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	opacity: 0;
}

