html {
    height: auto!important;
}

body {
    margin: auto;
    background: linear-gradient(45deg, #1b4dc9, #d7d031, #1983a5);
    /* animation: hueRotate 10s infinite alternate; */
    height: -webkit-fill-available!important;
}

.container {
    max-width: 840px;
    margin: 0 auto;
    /* color: aliceblue!important; */
    /* text-align: -webkit-right; */
}

.container h2 {
    color: aliceblue;
}

.container p {
    color: aliceblue;
}

@keyframes hueRotate {
    100% {
        filter: hue-rotate(360deg);
    }
}

.header .menu .menu-item-link {
    color: aliceblue!important;
}

.header .menu .active {
    color: #000!important;
}
